.cameraButton {
  display: flex;
  position: fixed;
  top: 15%;
  left: 3%;
  /* background-color: #f7f5f5; */
  padding: 10px;
  z-index: 12;
}

.video {
  display: flex;
  position: fixed;
  top: 15%;
  left: 3%;
  background-color: #000000;
  padding: 10px;
  z-index: 11;
}
