.link-container2 {
  display: flex;
  position: fixed;
  top: 15%;
  left: 3%;
  /* background-color: #f7f5f5; */
  padding: 10px;
  z-index: 10;
}
.buttonContainer {
  display: flex;
  position: fixed;
  height: 60px;
  width: 1050px;
  top: 10px;
  left: 800px;
  /* background-color: #f1c6c6; */
  padding: 10px;
  z-index: 10;
}
.cardDataInputZone {
  display: flex;
  position: fixed;
  height: 100px;
  width: 1050px;
  top: 140px;
  left: 800px;
  /* background-color: #f7f5f5; */
  padding: 10px;
  z-index: 10;
}
.cardDataOutputZone {
  display: flex;
  position: fixed;
  height: 400px;
  width: 1050px;
  top: 280px;
  left: 800px;
  /* background-color: #f36363; */
  padding: 10px;
  z-index: 12;
}

.DataSendButtonZone {
  display: flex;
  position: fixed;
  height: 70px;
  width: 650px;
  top: 650px;
  left: 50px;
  /* background-color: #f36363; */
  padding: 10px;
  z-index: 12;
}
